openapi: 3.1.0
info:
  title: Ingram Micro Reseller Catalog Pricing API
  description: The Ingram Micro Reseller API provides REST API access to product catalog, pricing, discounts, stock levels, and order management for IT resellers.
  version: 1.0.0
  contact:
    name: Ingram Micro
    url: https://developer.ingrammicro.com/
servers:
- url: https://api.ingrammicro.com/resellers/v6
  description: Production
tags:
- name: Pricing
  description: Pricing and availability operations
paths:
  /pricing:
    post:
      operationId: getPricing
      summary: Get Pricing
      description: Retrieve pricing and availability for products.
      tags:
      - Pricing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingResponse'
components:
  schemas:
    PricingRequest:
      type: object
      properties:
        products:
          type: array
          items:
            type: object
            properties:
              ingramPartNumber:
                type: string
    PricingResponse:
      type: object
      properties:
        products:
          type: array
          items:
            type: object
            properties:
              ingramPartNumber:
                type: string
              retailPrice:
                type: number
              customerPrice:
                type: number
              availability:
                type: boolean
