openapi: 3.1.0
info:
  title: Ingram Micro Reseller Catalog API
  description: The Ingram Micro Reseller API provides REST API access to product catalog, pricing, discounts, stock levels, and order management for IT resellers.
  version: 1.0.0
  contact:
    name: Ingram Micro
    url: https://developer.ingrammicro.com/
servers:
- url: https://api.ingrammicro.com/resellers/v6
  description: Production
tags:
- name: Catalog
  description: Product catalog operations
paths:
  /catalog:
    get:
      operationId: getCatalog
      summary: Search Product Catalog
      description: Search the Ingram Micro product catalog.
      tags:
      - Catalog
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCatalog'
  /catalog/{ingramPartNumber}:
    get:
      operationId: getProductDetails
      summary: Get Product Details
      description: Get details for a specific product by Ingram part number.
      tags:
      - Catalog
      parameters:
      - name: ingramPartNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
components:
  schemas:
    ProductCatalog:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        totalCount:
          type: integer
    Product:
      type: object
      properties:
        ingramPartNumber:
          type: string
        vendorPartNumber:
          type: string
        description:
          type: string
        category:
          type: string
        vendorName:
          type: string
        upc:
          type: string
        availability:
          type: object
          properties:
            available:
              type: boolean
            totalAvailability:
              type: integer
