openapi: 3.2.0
info:
  title: Ingram Micro Orders API
  version: 1.0.0
  contact:
    name: Ingram Micro
    url: https://developer.ingrammicro.com/
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: ingram-micro-reseller-api-openapi.yml, ingram-micro-vendor-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.ingrammicro.com/resellers/v6
  description: Production
- url: https://api.ingrammicro.com/vendors/v1
  description: Production
tags:
- name: Orders
  description: Order management operations
paths:
  /orders:
    post:
      operationId: createOrder
      summary: Create Order
      description: Create a new order with Ingram Micro.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    get:
      operationId: getVendorOrders
      summary: Get Vendor Orders
      description: Retrieve orders placed for vendor products.
      tags:
      - Orders
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorOrderList'
    servers:
    - url: https://api.ingrammicro.com/resellers/v6
      description: Production
  /orders/{orderId}:
    get:
      operationId: getOrderStatus
      summary: Get Order Status
      description: Retrieve the status of a specific order.
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    servers:
    - url: https://api.ingrammicro.com/resellers/v6
      description: Production
components:
  schemas:
    Order:
      type: object
      properties:
        orderId:
          type: string
        status:
          type: string
        lines:
          type: array
          items:
            type: object
            properties:
              ingramPartNumber:
                type: string
              quantity:
                type: integer
              unitPrice:
                type: number
        createdAt:
          type: string
          format: date-time
    OrderRequest:
      type: object
      properties:
        customerOrderNumber:
          type: string
        shipTo:
          type: object
          properties:
            name:
              type: string
            address:
              type: string
            city:
              type: string
            state:
              type: string
            zip:
              type: string
        lines:
          type: array
          items:
            type: object
            properties:
              ingramPartNumber:
                type: string
              quantity:
                type: integer
    VendorOrderList:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/VendorOrder'
    VendorOrder:
      type: object
      properties:
        orderId:
          type: string
        resellerId:
          type: string
        status:
          type: string
        lines:
          type: array
          items:
            type: object
            properties:
              partNumber:
                type: string
              quantity:
                type: integer
x-refined-from:
- ingram-micro-reseller-api-openapi.yml
- ingram-micro-vendor-api-openapi.yml
